#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		--bindir /usr/bin \
		-Dpipewire=enabled \
		-Denable_openvr_support=false

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/gamescope/usr/include
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/libliftoff.a
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/libwlroots.a
	rm -rf debian/gamescope/usr/lib/x86_64-linux-gnu/pkgconfig

